<!DOCTYPE html>
<html ng-app="myApp" lang="en" ng-init="initLoad=1">

<head>
    <title>Tubbi - Where to find the best Chinese Food!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--stylesheet-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Tasty_Talks_v0.0.23.css">
    <!-- Google maps -->
   
    <script> // Google Analytics 
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64801283-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>

<body>
    <div ng-controller="customersCrtl" class = "ngcont">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#coverPic">Tubbi</a>
            <a class="navbar-brand"></a>
            <ul class="nav navbar-nav pull-left ">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cutlery"></span></span> 菜類: <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li ng-click= "formdata.asr_results='全部' ;loadData()"><a class="page-scroll" href="#search_results">全部</a></li>
                  <li class="divider"></li>
                  <li ng-click= "formdata.asr_results='川菜' ;loadData()"><a class="page-scroll" href="#search_results">川菜</a></li>
                  <li ng-click= "formdata.asr_results='台灣小吃' ;loadData()"><a class="page-scroll" href="#search_results">台灣小吃</a></li>
                  <li ng-click= "formdata.asr_results='京菜' ;loadData()"><a class="page-scroll" href="#search_results">京菜</a></li>
                  <li ng-click= "formdata.asr_results='廣東菜' ;loadData()"><a class="page-scroll" href="#search_results">廣東菜</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown ">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span></span> 語言: <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li ng-click= "formdata.language_local='cmn-Hant-TW'; langchange(formdata.language_local)"><a href="#">中文</a></li>
                  <li ng-click= "formdata.language_local='en-US'; langchange(formdata.language_local)"><a href="#">English</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="mailto:tubbi.eats@gmail.com"> <span class="glyphicon glyphicon-envelope"></span> 聯繫我們</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section id = "coverPic">
      <div class="wide">
        <div class = "jumbotron">
          <h1>Tubbi</h1>
          <p id="jumbo-greeting" class ="jumbo-info"> 尋找在 San Gabriel Valley 最好吃的中國菜! </p>
          <p id="jumbo-instructions" class = "jumbo-info">請點選下列仼一菜式.</p>
          <div id="jumbo-button">
            <a href="#cruisine-container" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
      <section id = "cruisine-container">
        <div class="container">
            <div class = "row" id = "cruisine_row">
              <div class = "col-xs-12 col-sm-6 col-md-3 cruisine_info">
                <a class="page-scroll" href="#search_results"><img ng-click= "formdata.asr_results='川菜' ;loadData()" src = "img/tubbi_logo.png" class = "img-reponsive" alt = "川菜" width="125" height="125"/></a>
                <h3 ng-click= "formdata.asr_results='川菜' ;loadData()" class = "cruisine_name" ><a class = "cruisine_link page-scroll" id="schezwan_title" href="#search_results">川菜</a></h3>                
                <p class="crusine_info" id = "schezwan_des">Lorem ipsum dolor sit amet</p>
                <p class = "cruisine_dishes" id = "schezwan_dish">Popular Dishes: Sed ut perspiciatis unde omnis</p>
              </div>
              <div class = "col-xs-12 col-sm-6 col-md-3 cruisine_info">
                <a class="page-scroll" href="#search_results"><img ng-click= "formdata.asr_results='台灣小吃' ;loadData()" src = "img/tubbi_logo.png" class = "img-reponsive" alt = "台灣小吃" width="125" height="125"/></a>
                <h3 ng-click= "formdata.asr_results='台灣小吃' ;loadData()" class = "cruisine_name" ><a class = "cruisine_link page-scroll" id="taiwan_title" href="#search_results">台灣小吃</a></h3>                
                <p class="crusine_info" id = "taiwan_des">Lorem ipsum dolor sit amet</p>
                <p class = "cruisine_dishes" id = "taiwan_dish">Popular Dishes: Sed ut perspiciatis unde omnis</p>
              </div>
              <div class = "col-xs-12 col-sm-6 col-md-3 cruisine_info">
                <a class="page-scroll" href="#search_results"><img ng-click= "formdata.asr_results='京菜' ;loadData()" src = "img/tubbi_logo.png" class = "img-reponsive" alt = "京菜" width="125" height="125"/></a>
                <h3 ng-click= "formdata.asr_results='京菜' ;loadData()" class = "cruisine_name" ><a class = "cruisine_link page-scroll" id="beijing_title" href="#search_results">京菜</a></h3>           
                <p class="crusine_info" id = "beijing_des">Lorem ipsum dolor sit amet</p>
                <p class = "cruisine_dishes" id = "beijing_dish">Popular Dishes: Sed ut perspiciatis unde omnis</p>
              </div>
              <div class = "col-xs-12 col-sm-6 col-md-3 cruisine_info">
                <a class="page-scroll" href="#search_results"><img ng-click= "formdata.asr_results='廣東菜' ;loadData()" src = "img/tubbi_logo.png" class = "img-reponsive" alt = "廣東菜" width="125" height="125"/></a>
                <h3 ng-click= "formdata.asr_results='廣東菜' ;loadData()" class = "cruisine_name" ><a class = "cruisine_link page-scroll" id="canto_title" href="#search_results">廣東菜</a></h3>                       
                <p class="crusine_info" id = "canto_des">Lorem ipsum dolor sit amet</p>
                <p class = "cruisine_dishes" id = "canto_dish">Popular Dishes: Sed ut perspiciatis unde omnis</p>
              </div>
            </div>
          </div>
        </section>
        <section id = "search_results">
        <div class="container">
            <div ng-model="initLoad"> <!-- ng-hide="initLoad"-->
                <div class="row" id="options">
                    <div class="col-md-2">PageSize:
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-md-2">Filter:
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <h5>Filtered {{ filtered.length }} of {{ totalItems}} total customers</h5>
                    </div>
                   </div>
                <div class="row" id="content_display">
                    <div class="col-md-6 col-sm-6 col-xs-12 center-block" id="results_display"> <!--Your Seach Result-->
                        <div ng-show="filteredItems > 0">
                            <table>
                                <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    <td>
                                        <storeen ng-show="formdata.language_local=='en-US'"></storeen>
                                        <storech ng-show="formdata.language_local=='cmh-Hant-TW'" ng-hide="formdata.language_local=='en-US'"></storech>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6" ng-show="filteredItems == 0">
                            <div class="col-md-5">
                                <h4 id="no_result">No customers found</h4>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems > 0" id="pagination_div">
                          <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;">
                          </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 center-block" id="map_contain">
                        <div data-spy="affix"  id="map_test" ><div id="map_result"></div></div>
                    </div>
                </div>
            </div>
          </section>

        <div class="panel panel-default">
          <div class="panel-footer" > <p id="footer-end">2015 Tubbi</p></div>
        </div>

        </div>
    </div>
    <!--<script src="js/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCkqclrMf0ddYLSeVWlIB-8nrOmttY1csk"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="lib/angularjs-geolocation.min.js"></script>
    <script src="lib/jquery.easing.min.js"></script>
    <script src="app/app15.js"></script>
</body>

</html>